*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}
body{
    font-family: "Montserrat", sans-serif;
}
header, main{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 50px;

}
.leftSec{
    width: 60%;
    margin: 0 20px;
    padding: 1rem;
}
.leftSec input{
border: none;
outline: none;
width: 80%;
}
.inputArea, .postCode{
border: 1px solid ;
border-radius: 3px;
padding: 10px;
}

.rightSec{
    width: 40%;
    margin: 0 1.2rem;
    background-color: #eeeeee;
    padding: 1rem;
    border-radius: 10px;
}

.locationInfo{
    display: flex;
    flex-direction: row;
}
img{
    width: 30%
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 4px;
    padding: padding: 10px 20px 10px 10px;
    width: 30%;
}
.pushButton{
    margin: 5px;
    background-color: orange;
    padding: 10px;
    width: 30px;
    border: 1px solid gray;
    border-radius: 4px;

}
.upperList{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.lowerList{

}
.rightSecLowerText{
    display: flex;
    justify-content: space-between;
}